body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  font-family: 'Lucida Casual', 'Comic Sans MS';
  color: #22283A;
}

/* a:hover {
  transition: all 500ms;
  transform: scale(1.2);
} */

/* #name {
  width: 28%;
  height: 2rem;
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 1.5%;
  border: 1px solid grey;
  outline: none;
}

#name:focus {
  outline: none;
  border: 2px solid green;
} */

/* #ingredients {
  height: 5rem;
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 1.5%;
  margin: 0% 1.5%;
  border: 1px solid grey;
  outline: none;
}

#ingredients:focus {
  outline: none;
  border: 2px solid green;
} */

/* #instructions {
  height: 12rem;
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 1.5%;
  margin: 3% 1.5% 0% 1.5%;
  border: 1px solid grey;
  outline: none;
}

#instructions:focus {
  outline: none;
  border: 2px solid green;
} */